<section id="services" class="p-8">
  <h2 class="text-2xl font-bold mb-4">Наши услуги</h2>
  <ul class="space-y-2">
    <li>Перетяжка мягкой мебели</li>
    <li>Реставрация диванов и кресел</li>
    <li>Изготовление мебели по фото</li>
    <li>Стеновые панели в технике "каро"</li>
    <li>Продажа мебельных тканей</li>
  </ul>
</section>