<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title><slot name="title" /></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header><h1>Klim Lux</h1></header>
    <main><slot /></main>
    <footer>© 2025 Klim Lux</footer>
  </body>
</html>